@if(isLoading()){
<div>Loading...</div>
}

@if(!connectionExist()){
<button
  [disabled]="isLoading()"
  size="l"
  tuiButton
  type="button"
  (click)="connect()"
>
  Connect to chat
</button>
} @else {

  <div>
    <div [style]="{display:'flex', gap:5}">

      <button
        size="m"
        tuiButton
        type="button"
        (click)="send()"
      >
        Send
      </button>
      <button
        size="m"
        tuiButton
        type="button"
        (click)="webRTCStart()"
      >
        Connect to game
  </button>
  <button
  appearance="accent"
  tuiButton
  type="button"
  (click)="disconnect()"
  >
  Disconnect
  </button>
  <button
    size="m"
    tuiButton
    type="button"
    (click)="sendPing()"
  >
    PING
  </button>
  </div>
  @if (messages().length){
  <div>
    <h3>Received messages:</h3>
    @for (msg of messages(); track $index) {
    <div>{{ msg }}</div>
    }

  </div>
  }

</div>
}
